.margin_field {
  //margin-top: 45px;
  margin-top: 2.3rem;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial !important;
}



// .mobility{
//   margin-top: 25px;
// }

.font{
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial !important;

}
