.margin_field {
  margin-top: 2rem;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial !important;
}

.frequenceR{
  margin-top: 0;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial !important;
}
