@mixin font{
  font-family: 'Roboto' !important;
  font-size: normal;

  &::placeholder {
    color: rgb(31, 31, 31);
  }
}

.margin_field {
  margin-top: 2.3rem;
  @include font;
}

.font {
  @include font;
}