@import "../../../node_modules/carbon-components/scss/globals/scss/_spacing.scss";


.main {
    max-height: calc(84.5vh - 1.5rem);
    overflow: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

.cardForm {
    background: #FFFFFF;
    border-radius: 10px;
}
.card{
    width: auto;
    margin: auto;
}
.secondColStyle {
    padding: 1rem;
    border: 1px solid #5050504d;
    border-radius: 1%;
    max-height: 41.2em;
}

.buttonStyle {
    margin-right: 10px;
    min-width: 100px;
    height: 25px;
    border-radius: 5px;
    color: red;
    border: 1px solid rgb(247, 105, 114);
    padding: 20px;
    justify-content: center;
}


.buttonStyle2 {
    margin-left: 10px;
    margin-right: 15px;
    width: 108px;
    height: 34.79px;
    border-radius: 5px;
    padding: 20px;
    background: #FFFFFF;
    color: #313232;
    border: 1px solid #000000;
}

.buttonStyle2:hover {
    color: #FFFFFF;
    background: #313232;
}

.buttonStyle3 {
    margin-left: 10px;
    margin-right: 15px;
    width: 108px;
    height: 34.79px;
    color: #FFFFFF;
    background:rgb(3, 128, 60);
    border-radius: 5px;
    padding: 20px;
}

.buttonStyle3:hover {
    background:#049646;
}

.flexEnd {
    float: right;
}

.formGroup {
    width: 100%;
}

.marginItem {
    margin-bottom: 20px;
    margin-top: 20px;
}

.buttonPlusStyle {
    margin-top: 2.5px;
    margin-left: 0px;
}

.pl0 {
    padding-left: 0;
}


.pm0 {
    margin: 0;
    padding: 0;
}

.p0 {
    padding: 0;
}


.pr{
   padding-right:  1rem;
   padding-bottom: 1rem;
}


