@import "@fullcalendar/core/main.css";
@import "@fullcalendar/daygrid/main.css";
@import "@fullcalendar/core/main.css";
@import "@fullcalendar/daygrid/main.css";

.container {
    font-family: sans-serif;
    text-align: center;
    border: 1px solid red;
    height: 230px;
    width: 100%;
  }
  