.margin_LineChart {
    margin-bottom: 5px;
}
.margin_Column{
    margin-top: 80px;
}
.circleDiv{
    border: 1px solid black;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-top: 0;
}