.margin_LineChart {
    margin-bottom: 1px;
}

.shartTitle {
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 60px;
}

.mesure {
    color: #a52a2a;
    font-size: x-small;
}

.circleDiv {
    border: 1px solid black;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    font-size: medium;
    text-align: center;
    margin: auto;
    margin-top: 2.5rem;
}

.circleDiv div {
    margin-top: 1.5rem;
}



.pm0 {
    margin: 0;
    padding: 0;
}

.p0 {
    padding: 0;
}